@using algorithms.Models
@page "/register"
@rendermode InteractiveServer
<h3>Register</h3>
<div>
    <label>Username</label><input @bind-value=customer.Username />
</div>
<br/>
<div>
    <label>Password</label><input type="password" @bind-value=customer.Password />
</div>
<br />
<div>
    <label>First Name</label><input @bind-value=customer.FirstName />
</div>
<br />
<div>
    <label>Surname</label><input @bind-value=customer.Surname />
</div>
<br />
<div>
    <button @onclick=testButton>Register</button>
</div>

@code {
    private Customer customer = new Customer();

    private async Task testButton()
    {
        Console.WriteLine(customer.Username);
        Console.WriteLine(customer.Password);
        Console.WriteLine(customer.FirstName);
        Console.WriteLine(customer.Surname);
    }

}
